# fly.toml app configuration file generated for facerecognitionapi on 2025-12-15T15:31:57Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'facerecognitionapi'
primary_region = 'cdg'

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 2048
