fastapi==0.124.2
uvicorn[standard]
python-dotenv==1.2.1
facenet-pytorch==2.6.0
torch
torchvision
opencv-python==4.11.0.86
python-multipart==0.0.20
scikit-learn==1.8.0
seaborn==0.13.2
matplotlib==3.10.8
numpy==1.26.4
pydantic-settings
chromadb
ultralytics