fastapi==0.124.2
uvicorn[standard]==0.38.0
python-dotenv==1.2.1

# ML
facenet-pytorch==2.6.0
opencv-python-headless==4.11.0.86
numpy==1.26.4
pillow==10.2.0
scikit-learn==1.4.2

# API
python-multipart==0.0.20
pydantic-settings

# Vector DB
chromadb
